/* Enter your custom styles here */

/* Footer Container */
.ecomFooter {
    background-color: #212121 !important; /* Dark Grey like Flipkart */
    color: white !important;
    border-top: 1px solid #444;
}

/* Make Titles in footer white */
.ecomFooter .sapMTitle {
    color: #878787 !important;
    font-size: 12px !important;
}

/* Links in Footer */
.ecomFooter .sapMLnk {
    color: white !important;
    font-size: 12px !important;
    padding-bottom: 4px;
}

/* Text in Footer */
.ecomFooter .sapMText {
    color: white !important;
    font-size: 12px !important;
}

/* Bottom Border Strip */
.footerBottomBorder {
    border-top: 1px solid #444;
    padding-top: 20px;
}